/*
 *     Plik main.css jest częścią projektu Killer System - Prostego narzędzia do prowadzenia gry w killera
 *     Kod źródłowy: https://bitbucket.org/fedox8/boom-killer/src
 *     Copyright (C) 20/08/2019, 12:47  Mikołaj Bogucki, Jeremiasz Mazur, Anna Basiura
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with this file.  If not, see https://www.gnu.org/licenses/.
 */

.source-page a{
    position: absolute;
    bottom: 2%;
    right: 2%;
    color: white !important;
    font-size: 18px !important;
}

.login-page {
    width: 360px;
    padding: 2% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #3a3a3a;
    max-width: 360px;
    margin: 0 auto 50px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: 'VT323', monospace;
    outline: 0;
    background: #222;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 38px;
    color: white
}

.form button {
    padding: 6px;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    outline: 0;
    background: #29b400;
    width: 100%;
    border: 0;
    color: #FFFFFF;
    font-size: 22px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #29b400;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #29b400;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

body {
    background: #222; /* fallback for old browsers */font-family: 'VT323', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#error{
    color: #e20000;
    font-size: 20px;
    margin-top: 5px;
}

#target{
    color: white;
    font-size: 20px;
    margin-top: 5px;
}
.alives{
    padding: 22px;
    font-size: 22px;
    text-align: center;
}
.alives > a{
    color: white;
}
.alives > a:hover{
    color: #222222;
    background-color: white;
}